<!-- bag.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">Shopping Bag</h1>

    {% if bag_items %}
    <div class="custom-table-wrapper">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for item in bag_items %}
                <tr>
                    <td class="custom-product-info">
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="80">
                        <div>{{ item.product.name }}</div>
                    </td>
                    <td>
                        <form action="{% url 'update_bag' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{ item.item_id }}">
                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                            <button type="submit" class="custom-button">Update</button>
                        </form>
                    </td>
                    <td>${{ item.product.price }}</td>
                    <td>
                        <form action="{% url 'remove_from_bag' item.item_id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="custom-button">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="my-4">
        <h3 class="custom-total">Subtotal: ${{ total }}</h3>
        <h3 class="custom-total">Delivery: ${{ delivery }}</h3>
        <h3 class="custom-total">Total: ${{ grand_total }}</h3>
        <!-- Checkout Button -->
        <form action="{% url 'checkout' %}" method="get">
            <button type="submit" class="custom-button shop-now-button">Checkout</button>
        </form>
    </div>

    {% else %}
    <p>Your bag is empty.</p>
    {% endif %}
</div>
{% endblock %}
