{% extends "openid/base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    OpenID {% translate "Sign In" %}
{% endblock head_title %}

{% block content %}
    <div class="signin-container">
        <h1>OpenID {% trans 'Sign In' %}</h1>

        {% url 'openid_login' as action_url %}

        <form method="post" action="{{ action_url }}" class="signin-form">
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            <button type="submit" class="signin-button">
                {% translate "Sign In" %}
            </button>
        </form>
    </div>
{% endblock content %}
