<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="/products/price" class="dropdown-item">By Price</a>
                <a href="/products/rating" class="dropdown-item">By Rating</a>
                <a href="/products/category" class="dropdown-item">By Category</a>
                <a href="/products/all" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dive-gear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dive Gear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dive-gear-link">
                <a href="/dive-gear/scuba" class="dropdown-item">Scuba Gear</a>
                <a href="/dive-gear/snorkeling" class="dropdown-item">Snorkeling Gear</a>
                <a href="/dive-gear/accessories" class="dropdown-item">Accessories</a>
                <a href="/dive-gear/all" class="dropdown-item">All Dive Gear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="apparel-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Apparel
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apparel-link">
                <a href="/apparel/wetsuits" class="dropdown-item">Wetsuits</a>
                <a href="/apparel/shirts" class="dropdown-item">Shirts & Apparel</a>
                <a href="/apparel/accessories" class="dropdown-item">Accessories</a>
                <a href="/apparel/all" class="dropdown-item">All Apparel</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="travel-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Travel
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="travel-link">
                <a href="/travel/destinations" class="dropdown-item">Destinations</a>
                <a href="/travel/packages" class="dropdown-item">Packages</a>
                <a href="/travel/gear" class="dropdown-item">Travel Gear</a>
                <a href="/travel/all" class="dropdown-item">All Travel</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="/specials/new-arrivals" class="dropdown-item">New Arrivals</a>
                <a href="/specials/deals" class="dropdown-item">Deals</a>
                <a href="/specials/clearance" class="dropdown-item">Clearance</a>
                <a href="/specials/all" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>
