<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-th-large"></i> All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price" class="dropdown-item"><i class="fas fa-tag"></i> By Price</a>
                <a href="{% url 'products' %}?sort=rating" class="dropdown-item"><i class="fas fa-star"></i> By Rating</a>
                <a href="{% url 'products' %}?sort=category" class="dropdown-item"><i class="fas fa-th-list"></i> By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item"><i class="fas fa-box"></i> All Products</a>
            </div>
        </li>

        <!-- Dive Gear Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dive-gear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-water"></i> Dive Gear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dive-gear-link">
                <a href="{% url 'products' %}?category=scuba" class="dropdown-item"><i class="fas fa-dive"></i> Scuba Gear</a>
                <a href="{% url 'products' %}?category=snorkeling" class="dropdown-item"><i class="fas fa-mask"></i> Snorkeling Gear</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item"><i class="fas fa-tools"></i> Accessories</a>
                <a href="{% url 'products' %}?category=scuba,snorkeling,accessories" class="dropdown-item"><i class="fas fa-th"></i> All Dive Gear</a>
            </div>
        </li>

        <!-- Apparel Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="apparel-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tshirt"></i> Apparel
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="apparel-link">
                <a href="{% url 'products' %}?category=wetsuits" class="dropdown-item"><i class="fas fa-wetsuit"></i> Wetsuits</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item"><i class="fas fa-shirt"></i> Shirts & Apparel</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item"><i class="fas fa-capsules"></i> Accessories</a>
                <a href="{% url 'products' %}?category=wetsuits,shirts,accessories" class="dropdown-item"><i class="fas fa-th"></i> All Apparel</a>
            </div>
        </li>

        <!-- Travel Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="travel-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plane"></i> Travel
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="travel-link">
                <a href="{% url 'products' %}?category=destinations" class="dropdown-item"><i class="fas fa-map-marker-alt"></i> Destinations</a>
                <a href="{% url 'products' %}?category=packages" class="dropdown-item"><i class="fas fa-box"></i> Packages</a>
                <a href="{% url 'products' %}?category=travel_gear" class="dropdown-item"><i class="fas fa-luggage-cart"></i> Travel Gear</a>
                <a href="{% url 'products' %}?category=destinations,packages,travel_gear" class="dropdown-item"><i class="fas fa-th"></i> All Travel</a>
            </div>
        </li>

        <!-- Special Offers Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-star"></i> Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item"><i class="fas fa-star-of-david"></i> New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item"><i class="fas fa-tag"></i> Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item"><i class="fas fa-trash"></i> Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item"><i class="fas fa-th"></i> All Specials</a>
            </div>
        </li>
    </ul>
</div>
