{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <!-- You can add some header content here if needed -->
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
<img src="{{ product.image.url }}" alt="{{ product.name }}">
<p>{{ product.description }}</p>
<p>${{ product.price }}</p>
<form action="{% url 'add_to_wishlist' product.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Add to Wishlist</button>
</form>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid mt-5 pt-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="card my-5">
                    <div class="card-body">
                        <div class="image-container">
                            {% if product.image %}
                                <a href="#" data-toggle="modal" data-target="#imageModal">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="#" data-toggle="modal" data-target="#imageModal">
                                    <img class="card-img-top img-fluid" src="{% static 'noimage.png' %}" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-5 mt-md-5">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text lead font-weight-bold">${{ product.price }}</p>
                        {% if product.rating %}
                            <p class="card-text text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</p>
                        {% else %}
                            <p class="card-text text-muted">No Rating</p>
                        {% endif %}
                        <p class="card-text mt-3">{{ product.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">{{ product.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
